<html>
  <div style="background-image: url('https://wallpaperaccess.com/full/983279.jpg');width:1500px;height:2000px;">
     <img src="https://media-exp1.licdn.com/dms/image/C5603AQEJvnIvJPZCsg/profile-displayphoto-shrink_400_400/0/1600387208998?e=1675900800&v=beta&t=OOxmtVL-ijo0jenYaIwR7ylnidgynG1D5iCzV6ZaG-o" alt="Sam" align="right">
<head>
<style>
table, th, td {
  border: 1px solid white;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 40px;
}
</style>
</head>
<body>
  <h2 style="color:#FFFFFF;">Sam Walters</h2> 
    <table style="color:#FFFFFF;">
        <tr><td style="border:1px solid white;">(435) 881 - 5805 </td>
         <td style="border:1px solid white;">samantha.walters@usu.edu</td>
          <td style="border:1px solid white;"> Linkedin: <a href="https://www.linkedin.com/in/samfranceswalters/">www.linkedin.com/in/samfranceswalters</a></td></tr>
    </table>
<h2 style="color:#FFFFFF;">Education</h2>
    <h3 style="color:#FFFFFF;"><strong>Utah State University, Jon M. Huntsman School of Business</strong></h3>
    <p style="color:#FFFFFF;">B.S. Degree, Management Information Systems</p> 
    <p style="color:#FFFFFF;"><strong>GPA — 3.04 while working 20 hours per week</strong></p>

<table style="color:#FFFFFF;" align="center"><caption>Tools</caption>
  <tr>
    <th>Advanced</th>
    <th>Competent</th> 
  </tr>
  <tr>
    <td>HTML</td>
    <td>Linux</td>
  </tr>
  <tr>
    <td>Microsoft Office</td>
    <td>Python</td>
  </tr>
  <tr>
    <td>Tableau</td>
    <td>RapidMiner</td>
  </tr>
  <tr><td>SQL</td>
   <td>PowerBI</td></tr>
</table>

<h3 style="color:#FFFFFF;">Utah State University</h3>	
    <h3 style="color:#FFFFFF;">An Industry in Need of Protection</h3>
    <h3 style="color:#FFFFFF;">DATA 3400 — Final Project</h3>
    <ul style="color:#FFFFFF;"><li>Transformed data into 6 meaningful visualizations and 6 interactive dashboards that effectively demonstrated the importance of the healthcare sector investing in cybersecurity administration</li>
<li>Presented the Tableau visualization to my professor in video format, and she is going to use the presentation as an example of an excellent final project in future courses</li></ul>

</body>
</html>
</div>